<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987834799919-7t485ala3tccosstgrbacuns4c5t09e3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987834799919-7t485ala3tccosstgrbacuns4c5t09e3</string>
	<key>API_KEY</key>
	<string>AIzaSyBgi7B-0e87T9u5RlAS_RRU3WeTwI-9lLs</string>
	<key>GCM_SENDER_ID</key>
	<string>987834799919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quanlychitieu</string>
	<key>PROJECT_ID</key>
	<string>quanlychitieuapp</string>
	<key>STORAGE_BUCKET</key>
	<string>quanlychitieuapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987834799919:ios:7dace97525213b750bb3da</string>
</dict>
</plist>